{% extends 'base.html' %}

{% block content %}

{% if error %}

{{ error }}
<br />
<br />
{% endif %}

{% load static %}

<!--This page's styling-->

<style>
    .form-signin {
      width: 100%;
      max-width: 330px;
      padding: 15px;
      margin: auto;
    }
    .form-signin .checkbox {
      font-weight: 400;
    }
    .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-signin .form-control:focus {
      z-index: 2;
    }
    .form-signin #password1 {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    .form-signin #password2 {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
</style>

<!--End of this page's styling-->

<br />
<br />
<div class="text-center">
    <form class="form-signin" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'quizzo_logo.svg' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign up</h1>
        <input type="text" name="username" class="form-control" placeholder="Username" required autofocus>
        <br />
        <input type="password" id="password1" name="password1" class="form-control" placeholder="Password" required>
        <input type="password" id="password2" name="password2" class="form-control" placeholder="Confirm Password" required>
<!--        <div class="checkbox mb-3">-->
<!--            <label>-->
<!--                <input type="checkbox" value="remember-me"> Remember me-->
<!--            </label>-->
<!--        </div>-->
        <br />
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>


{% endblock %}

